# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
*.log

# Environment files
.env

# OS-specific
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Testing/coverage
coverage/
__tests__/

# Build/output (if we need in the future)
dist/
build/

# vitepress build output
.vitepress/dist
.vitepress/cache
docs/.vitepress/dist
docs/.vitepress/cache

